@import url("https://fonts.googleapis.com/css2?family=Acme&family=Lato:wght@900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LaleZar";
  src: url("../src/assets/fonts/Bellefair-Regular.ttf");
  font-style: normal;
  font-display: swap;

  font-display: swap;
}
/* @font-face {
  font-family: "SultanFont";
  src: url("../src/assets/fonts/SultanFont.ttf");
  font-style: normal;
  font-display: swap;

  unicode-range: U+0600-06FF;

  font-display: swap;
} */

* {
  font-family: "LaleZar";
}
* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #ff595e #6a4c93;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

@media only screen and (max-width: 767px) {
  *::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #bb9651;
  border: 0px none #ffffff;
  border-radius: 86px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00ffd1;
}
::-webkit-scrollbar-thumb:active {
  background: #13cfad;
}
::-webkit-scrollbar-track {
  background: #ffe3cb;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #f8ddd9;
}
::-webkit-scrollbar-track:active {
  background: #f8ddd9;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
